:root{

    /* Colors */

    --bg:#06070D;
    --bg-secondary:#0E111C;

    --glass:rgba(255,255,255,.05);

    --border:rgba(255,255,255,.08);

    --white:#ffffff;

    --text:#D6D6D6;

    --primary:#5B8CFF;

    --secondary:#7C4DFF;

    --blueGlow:#4D8DFF;

    --purpleGlow:#7B4DFF;

    --success:#00E676;

    /* Radius */

    --radius-xs:8px;
    --radius-sm:12px;
    --radius-md:20px;
    --radius-lg:30px;
    --radius-xl:40px;

    /* Shadow */

    --shadow-blue:
    0 0 40px rgba(77,141,255,.25);

    --shadow-purple:
    0 0 40px rgba(123,77,255,.25);

    /* Transition */

    --transition:.35s ease;

    /* Max Width */

    --container:1300px;

}